---
---

@import "{{ site.theme }}";
body {
    font-family: 'Your Font Name', sans-serif;
}

footer {
  width:180px;
  // position: fixed;
  position:relative;
  left:50%;
  margin-left:-530px;
  bottom:20px;
  text-align: left;
  line-height: 16px;
  overflow-y: auto; /* Adding vertical scroll */
}
